@font-face {
	font-family: 'Open Sans';
	src: url('../_fonts/OpenSans-Regular.eot');
	src: local('OpenSans'), url('../_fonts/OpenSans-Regular.woff') format('woff'), url('../_fonts/OpenSans-Regular.ttf') format('truetype'), url('../_fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../_fonts/OpenSans-Light.eot');
	src: local('OpenSans-Light'), url('../_fonts/OpenSans-Light.woff') format('woff'), url('../_fonts/OpenSans-Light.ttf') format('truetype'), url('../_fonts/OpenSans-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../_fonts/OpenSans-Semibold.eot');
	src: local('OpenSans-Semibold'), url('../_fonts/OpenSans-Semibold.woff') format('woff'), url('../_fonts/OpenSans-Semibold.ttf') format('truetype'), url('../_fonts/OpenSans-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

*{outline:none;margin:0;padding:0;}
html, body {height:100%;width:100%;}
body {margin:0px;padding:0px;background:#fff;}
html, body, td, th {font:300 18px "Open Sans", Arial, sans-serif;color:#000;}

table {border-collapse:collapse;}
table td {padding:0 10px 5px 0;}
form {margin:0;padding:0;}
a {color:#1186a9;text-decoration:none;}
a:hover {color:#149ec7;}
img {border:none;}
p {margin:0 0 15px 0;line-height:24px;}
input, select, option, textarea {font:14px "Open Sans", Arial, sans-serif;background:#f5f9fa;color:#000;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 10px;line-height:45px;height:45px;}
input, select, textarea {border:1px solid #0a5f78;box-shadow:inset 0 1px 5px #b1bcbf, 0 1px 0 #64bcd6;border-radius:5px;}
input:focus, select:focus, option:focus, textarea:focus {background:#fff}

h1 {font:normal 36px/45px "Open Sans", Arial, sans-serif;color:#000;margin:0 0 60px 0px;padding:0;text-align:center;}
h2 {font:normal 36px/45px "Open Sans", Arial, sans-serif;color:#000;margin:0 0 60px 0px;padding:0;text-align:center;}
h3 {font:bold 16px/16px "Open Sans", Arial, sans-serif;color:#000;margin:0 0 15px 0;padding:0;}
h4 {font:bold 14px "Open Sans", Arial, sans-serif;color:#000;margin:0 0 0px 0;padding:0;}

h1.line {border-bottom:1px solid #cfd3d5;font-size:21px;text-align:left;}

ul {padding:0 0 0 20px;margin:0 0 15px;}
ul li {list-style:none;background:url('../_pic/li.png') no-repeat 0 7px;padding:0 0 0 17px;margin:0 0 5px 0;}

blockquote {}

.ul-correct ul {overflow:hidden;}

#body {position:relative;min-height:100%;height:auto !important;height:100%;margin:0 auto;}
#holder {height:90px;clear:both;}
#footer {padding:35px 0;margin:-90px 0 0;font-size:14px;color:#666;text-align:center;background:#fafafa;font-weight:normal;}
#holder-main {height:80px;clear:both;}
#footer-main {padding:30px 0 0;margin:-80px 0 0;font-size:14px;color:#666;background:#fafafa;font-weight:normal;height:50px;}

.footer .img {float:right;}
.footer .img img {margin:0 0 0 10px;}
.footer .copyright {padding:0 30px 0 0;}

.fixed {max-width:1010px;padding:0 20px;margin:0 auto;position:relative;}

.center {text-align:center;}

.clear {clear:both;}

a.js {text-decoration:none;border-bottom:1px dashed #fff;}
a.js:hover {text-decoration:none;border-bottom:none;}

.outer {display:table;vertical-align: middle;}
.inner, .middle {display: table-cell;vertical-align: middle;}
* html .outer {overflow: hidden;position: relative;}
* html .middle {position: absolute;top: 50%;width: 100%;}
* html .inner {position: relative;top: -50%;}
*:first-child+html .outer {overflow: hidden;position: relative;}
*:first-child+html .middle {position: absolute;top: 50%;width: 100%;}
*:first-child+html .inner {position: relative;top: -50%;}

.upper {text-transform:uppercase;}

.big {font-size:21px;}

.mrg-20 {margin-bottom:20px;}

.img-right {float:right;margin:0 0 10px 20px;}
.img-left {float:left;margin:0 20px 10px 0;}

.btn {border:none;cursor:pointer;box-shadow:0 1px 3px #0f6d89;line-height:45px;height:45px;margin:0;color:#026d8d;font-weight:normal;text-transform:uppercase;font-size:11px;
	background: #ebf2f5;
    background: -moz-linear-gradient(top, #ffffff 0%, #dce8ed 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#dce8ed 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#dce8ed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#dce8ed 100%);
    background: linear-gradient(top, #ffffff 0%,#dce8ed 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#dce8ed')"; /* IE8 */
}
.btn:hover {
    background: #e9f1f4;
    background: -moz-linear-gradient(top, #ffffff 0%, #e2ecf0 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#e2ecf0 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e2ecf0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e2ecf0 100%);
    background: linear-gradient(top, #ffffff 0%,#e2ecf0 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#e2ecf0')"; /* IE8 */
}
.btn:focus {background:#fff;}

.btn-default {box-shadow:none;color:#fff;
	background: #259ebe;
    background: -moz-linear-gradient(top, #30adca 0%, #1288aa 100%);
    background: -webkit-linear-gradient(top, #30adca 0%,#1288aa 100%);
    background: -o-linear-gradient(top, #30adca 0%,#1288aa 100%);
    background: -ms-linear-gradient(top, #30adca 0%,#1288aa 100%);
    background: linear-gradient(top, #30adca 0%,#1288aa 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#30adca', EndColorStr='#1288aa')"; /* IE8 */
}
.btn-default:hover, .btn-default:focus {
    background: #28a9cb;
    background: -moz-linear-gradient(top, #34b9d8 0%, #1391b5 100%);
    background: -webkit-linear-gradient(top, #34b9d8 0%,#1391b5 100%);
    background: -o-linear-gradient(top, #34b9d8 0%,#1391b5 100%);
    background: -ms-linear-gradient(top, #34b9d8 0%,#1391b5 100%);
    background: linear-gradient(top, #34b9d8 0%,#1391b5 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#34b9d8', EndColorStr='#1391b5')"; /* IE8 */
}



div.select {position:relative;margin:0 0 10px;}
div.select input {width:100%;position:relative;padding-right:30px;}
div.select select {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);height:45px;line-height:45px;left:0;opacity:0;position:absolute;top:0;width:100%;z-index:2;}
div.select select option {background:none;border:none;}
div.select:after {display:block;content:" ";top:20px;right:10px;position:absolute;z-index:1;width:0;height:0;border-style:solid;border-width:6px 6px 0 6px;border-color:#000 transparent transparent transparent;}
div.select:hover input {}


.header {background:#09556b;border-bottom:10px solid #0a3947;padding:15px 0;margin:0 0 60px;
	background: radial-gradient(50% 0%, #1a718b, #084b5f);
	background-image: radial-gradient(farthest-side circle at 50% 0%, #1a718b, #084b5f);
	background: -moz-radial-gradient(50% 0%, #1a718b, #084b5f);
	background: -webkit-radial-gradient(50% 0%, #1a718b, #084b5f);
	background: -ms-radial-gradient(50% 0%, #1a718b, #084b5f);
}
.header:after {display:block;content:"";clear:both;}
.header .logo {display:block;background:url('../_img/logo-fon.png') no-repeat 0 10px;float:left;padding:0 10px 0 0;}
.header .lang {height:20px;width:110px;padding:25px 20px 5px 10px;display:block;background:url('../_img/logo-fon.png') no-repeat -160px 10px;float:left;}
.header .lang .current {cursor:pointer;color:#dceec3;text-transform:uppercase;font-size:10px;line-height:10px;position:relative;}
.header .lang .current:before {display:inline-block;content:"";width:18px;height:12px;background:url('../_img/langs.png') no-repeat 0 0;margin:0 5px 0 0;vertical-align:middle;}
.header .lang .current:after {display:block;position:absolute;top:4px;right:0px;content:"";width:8px;height:4px;background:url('../_img/select-lang.png') no-repeat 0 0;margin:0 0 0 5px;vertical-align:middle;}
.header .descr {height:30px;width:120px;padding:15px 20px 5px 10px;display:block;background:url('../_img/logo-fon.png') no-repeat 100% 10px;float:left;font-size:10px;line-height:14px;text-transform:uppercase;color:#5a8e9e;}
.header .logout {float:right;height:30px;margin:10px 0 0;padding:5px 0px 5px 45px;display:block;background:url('../_img/logout.png') no-repeat 0 0;font-size:10px;line-height:14px;text-transform:uppercase;color:#bdef75;text-decoration:none;}

.steps-how-to-work {text-align:center;margin:0 0 60px;}
.steps-how-to-work .it {width:26%;display:inline-block;vertical-align:top;margin:0 -1% 20px;position:relative;}
.steps-how-to-work .it:before {display:block;content:"";margin:0 auto 30px;width:46px;height:71px;background:url('../_img/icons-steps.png') no-repeat 0 0;}
.steps-how-to-work .it.it-2:before {background-position:-234px;width:78px;}
.steps-how-to-work .it.it-3:before {background-position:-488px;width:70px;}
.steps-how-to-work .it.it-4:before {background-position:-733px;width:80px;}
.steps-how-to-work .it .name {font-size:18px;color:#067093;font-weight:600;}
.steps-how-to-work .it .descr {font-size:13px;font-weight:300;}
.steps-how-to-work .it .next, .steps-how-to-work .it .next:before {position:absolute;top:10px;right:0;width: 0;height: 0;border-style: solid;border-width: 26px 0 26px 20px;border-color: transparent transparent transparent #575757;}
.steps-how-to-work .it .next:before {display:block;content:"";top:-26px;right:1px;border-color:transparent transparent transparent #fff;}

.short-register {background:#1186a9;padding:40px 50px;margin:0 0 60px;border-radius:5px;text-align:right;
	background: radial-gradient(10% 0%, #25a7c7, #1186a9);
	background-image: radial-gradient(farthest-side circle at 10% 0%, #25a7c7, #1186a9);
	background: -moz-radial-gradient(10% 0%, #25a7c7, #1186a9);
	background: -webkit-radial-gradient(10% 0%, #25a7c7, #1186a9);
	background: -ms-radial-gradient(10% 0%, #25a7c7, #1186a9);
}
.short-register * {vertical-align:middle;}
.short-register .title {width:30%;margin:0 10px 0 0;font-size:16px;line-height:18px;color:#fff;display:inline-block;}
.short-register .input {width:100%;}
.short-register .btn {width:25%;}
.short-register .inline {width:40%;margin:0 10px 0 0;display:inline-block;}
.short-register .err .message {bottom:53px;}

.list-logos {text-align:center;border-top:2px solid #f5f5f5;padding:15px 0 0;margin:0 0 50px;}
.list-logos img {vertical-align:middle;margin:0 5px 15px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
}
.list-logos img:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: none;
}
.list-logos span img {vertical-align:bottom;}

.advantages {margin:0 0 50px;overflow:hidden;}
.advantages .it {-moz-box-sizing:border-box;box-sizing:border-box;width:49%;margin:0 0 20px 2%;padding:20px 15px 20px 135px;float:left;background:#fafafa;border-bottom:2px solid #1186a9;position:relative;}
.advantages .it:first-child {margin:0;}
.advantages .it:before {display:block;content:"";background:url('../_img/advantages.png') no-repeat 0 0;width:105px;height:100px;position:absolute;margin:-50px 0 0;top:50%;left:20px;}
.advantages .it.design:before {background-position:-514px 0;}
.advantages .it .outer {height:105px;}

.main-block {margin:-60px 0 -90px;position:relative;background:url('../_img/main-fon.png') no-repeat 50% 50%;height:500px;background-size:cover;}
.main-block:after {position:absolute;top:0;left:0;right:0;height:100px;display:block;content:"";
	background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#000000', EndColorStr='#000000')"; /* IE8 */
}
.main-block .links {position:absolute;top:50%;right:0;}
.main-block .links a {position:relative;display:block;background:#bdef75;padding:20px 40px 20px 20px;font-size:14px;line-height:14px;color:#0c556b;font-weight:normal;border-radius:5px 0 0 5px;}
.main-block .links a:after {position:absolute;top:15px;right:10px;display:block;content:"";background:url('../_img/li.png') no-repeat 0 0;width:11px;height:20px;}
.main-block .links a:hover {background:#c4fb74;}


.block-fields input[type="text"], .block-fields textarea {background:#fff;border:2px solid #e4e9eb;box-shadow:none;}
.block-fields .block-title {color:#333;text-transform:uppercase;font-size:13px;font-weight:bold;margin:0 0 10px;}
.block-fields .name {color:#333;text-transform:uppercase;font-size:11px;line-height:15px;font-weight:300;margin:0 0 5px;}
.block-fields .value {color:#666;margin:0 0 20px;height:45px;}
.block-fields .require {color:#cc0000;}
.block-fields .table {display:table;margin-bottom:0;width:auto;}
.block-fields .col {display:table-cell;padding:0 20px 0px 0;vertical-align:top;width:270px;}
.block-fields .col:first-child {padding-left:0px;}
.block-fields .col-4 {width:120px;padding:0;}
.block-fields .col-6 {padding-right:0px;}
.block-fields .col-7 {width:370px;}
.block-fields .col-7 input {width:250px;}
.block-fields .col-5, .block-fields .col-6 {padding-bottom:0px;}
.block-fields .text {width:100%;margin:0 0 20px;}
.block-fields .select {margin:0 0 20px;}
.block-fields textarea {height:130px;width:100%;}
.block-fields .soc-icon {float:right;margin:20px 10px 0 0;}
.block-fields .check-icon {float:right;margin:33px 0 0 0;}
.block-fields .currency *{vertical-align:middle;line-height:13px;font-size:13px;}
.block-fields .currency label {vertical-align:top;font-weight:bold;padding:0 10px 0 0;}
.block-fields .currency span {color:#999;font-weight:normal;}
.block-fields .currency input:checked + span {color:#62af4e;}
.block-fields input.сaptcha {width:45%;margin:0 0 20px;}
.block-fields img.сaptcha {float:right;width:45%;height:43px;border-radius:3px;}
.block-fields .message {display:none;}

.err input {border-color:red;background:#fae5e5;}
.err {position:relative;}
.err .message {font-size:11px;text-transform:uppercase;display:block;border-radius:5px;background:red;padding:3px 10px;position:absolute;bottom:70px;left:50%;color:#fff;min-width:200px;text-align:center;
	-moz-transform:  translate(-50%,0); /* Для Firefox */
    -ms-transform:  translate(-50%,0); /* Для IE */
    -webkit-transform:  translate(-50%,0); /* Для Safari, Chrome, iOS */
    -o-transform:  translate(-50%,0); /* Для Opera */
    transform:  translate(-50%,0);
}
.err .message:after {content:"";display:block;left:50%;bottom:0;position:absolute;margin:0 0 -4px -4px;width:0;height: 0;border-style: solid;border-width: 4px 4px 0 4px;border-color: #ff0000 transparent transparent transparent;}

.contact-list {float:left;width:47%;font-size:15px;font-weight:normal;}
.contact-list .it {position:relative;padding:10px 0 10px 45px;overflow:hidden;margin:0 0 15px 0;}
.contact-list .it:after {position:absolute;content:"";top:10px;left:0;display:block;width:35px;height:45px;background:url('../_img/contact-icons.png') no-repeat 0 0;}
.contact-list .it.phones:after {background-position:0 -70px;}
.contact-list .it.email:after {background-position:0 -167px;}
.contact-list .it.skype:after {background-position:0 -215px;}
.contact-list .it .sit {float:left;margin:0 20px 0 0;}
.contact-list .it .sit .name {font-size:13px;font-weight:300;}
.contact-list .it .sit .phone {font-size:21px;}
.contact-list .it .descr {clear:both;width:350px;font-size:11px;text-transform:uppercase;text-align:center;padding:5px 0 0;position:relative;font-weight:300;}
.contact-list .it .descr span {background:#fff;z-index:10;position:relative;padding:0 5px;}
.contact-list .it .descr:after {position:absolute;z-index:9;border-top:1px solid #cfd3d5;content:"";display:block;top:13px;width:100%;}

.feedback {margin:0 0 30px 50%;background:#fafafa;padding:20px 40px;}
.feedback .it {overflow:hidden;}
.feedback h2 {font-weight:bold;font-size:14px;text-transform:uppercase;text-align:left;margin:0 0 15px;}
.feedback .sit.w50 {width:45%;float:right;}
.feedback .sit.w50:first-child {float:left;}
.feedback .btn-default {width:50%;}

@media only screen and (max-height: 800px) {
	.main-block {height:400px;}
}
@media only screen and (max-height: 700px) {
	.main-block {height:300px;}
}

@media only screen and (max-width: 900px) {
	.contact-list .it .descr {width:auto;margin:0 20px 0 0;}
}
@media only screen and (max-width: 880px) {
	.advantages .it {width:100%;margin:0 0 20px !important;}
}
@media only screen and (max-width: 750px) {
	.short-register {text-align:center;}
	.short-register .title {display:block;width:100%;margin:0 0 15px;}
	.short-register .inline {width:60%;}
	.short-register .btn {width:140px;}
	.contact-list {float:none;margin:0 0 30px;width:auto;}
	.feedback {margin:0 0 30px;width:auto;}
}

@media only screen and (max-width: 620px) {
	.steps-how-to-work .it {width:50%;margin:0 0 20px;}
	.short-register {margin:0 -20px 40px;border-radius:0;padding:20px;}
}
@media only screen and (max-width: 600px) {
	.header .lang {clear:both;}
}
@media only screen and (max-width: 450px) {
	.short-register .title, .short-register .input, .short-register .btn {display:block;width:100%;margin:0 0 15px;}
	.feedback {padding:20px;margin:0 -20px;}
	.feedback .sit.w50 {width:auto;float:none;}
	.feedback .sit.w50:first-child {float:none;}
	.feedback .btn-default {width:100%;}
}
@media only screen and (max-width: 350px) {
	h1 {margin-bottom:20px;}
	.fixed {padding:0 10px;}
	.feedback {padding:10px;margin:0 -10px;}
	.short-register {margin:0 -10px 20px;padding:10px;}
	.header {margin:0 0 20px;}
	.header .logo {margin:0 0 10px;}
	.header .lang {float:none;width:auto;border-radius:5px;padding:15px 10px 5px;margin:0 0 10px;
		background: #0d4c5f;
	    background: -moz-linear-gradient(top, #105469 0%, #0a4356 100%);
	    background: -webkit-linear-gradient(top, #105469 0%,#0a4356 100%);
	    background: -o-linear-gradient(top, #105469 0%,#0a4356 100%);
	    background: -ms-linear-gradient(top, #105469 0%,#0a4356 100%);
	    background: linear-gradient(top, #105469 0%,#0a4356 100%);
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#105469', EndColorStr='#0a4356')"; /* IE8 */
	}
	.header .descr {float:none;width:auto;background:none;padding:0;height:auto;text-align:center;}

	.steps-how-to-work {margin:0;}
	.steps-how-to-work .it {width:100%;margin:0 0 50px;}
	.steps-how-to-work .it .next, .steps-how-to-work .it .next:before {top:auto;bottom:-25px;right:50%;margin:0 -26px 0 0;border-width: 20px 26px 0 26px;border-color: #575757 transparent transparent transparent;}
	.steps-how-to-work .it .next:before {bottom:1px;top:auto;right:0px;border-color:#fff transparent transparent transparent;}
	.steps-how-to-work .it:before {margin-bottom:0;}
	
	.advantages {margin:0 0 20px;}
	.list-logos {margin:0 0 20px;}
}
