@charset "UTF-8";

@font-face {
  font-family: "currency";
  src:url("fonts/currency.eot");
  src:url("fonts/currency.eot?#iefix") format("embedded-opentype"),
    url("fonts/currency.woff") format("woff"),
    url("fonts/currency.ttf") format("truetype"),
    url("fonts/currency.svg#currency") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "currency" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="currency-"]:before,
[class*=" currency-"]:before {
  font-family: "currency" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.currency-eur:before {
  content: "a";
}
.currency-rur:before {
  content: "b";
}
.currency-uan:before {
  content: "c";
}
.currency-usd:before {
  content: "d";
}
.currency-wmr:before {
  content: "e";
}
.currency-wmu:before {
  content: "f";
}
.currency-wmz:before {
  content: "g";
}
