@font-face {
	font-family: 'Open Sans';
	src: url('../_fonts/OpenSans-Regular.eot');
	src: local('OpenSans'), url('../_fonts/OpenSans-Regular.woff') format('woff'), url('../_fonts/OpenSans-Regular.ttf') format('truetype'), url('../_fonts/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../_fonts/OpenSans-Light.eot');
	src: local('OpenSans-Light'), url('../_fonts/OpenSans-Light.woff') format('woff'), url('../_fonts/OpenSans-Light.ttf') format('truetype'), url('../_fonts/OpenSans-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../_fonts/OpenSans-Semibold.eot');
	src: local('OpenSans-Semibold'), url('../_fonts/OpenSans-Semibold.woff') format('woff'), url('../_fonts/OpenSans-Semibold.ttf') format('truetype'), url('../_fonts/OpenSans-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

*{outline:none !important;margin:0;padding:0;}
html, body {height:100%;width:100%;min-width:980px;}
body {margin:0px;padding:0px;background:#fff;}
html, body, td, th {font:300 14px "Open Sans", Arial, sans-serif;color:#000;}

table {border-collapse:collapse;}
table td {padding:0 10px 5px 0;}
form {margin:0;padding:0;}
a {color:#176fa5;text-decoration:none;}
a:hover {color:#149ec7;text-decoration:none;}
img {border:none;}
p {margin:0 0 15px 0;line-height:24px;}
input[type="text"], input[type="password"], select, option, textarea {font:14px "Open Sans", Arial, sans-serif;background:#fff;color:#000;border:2px solid #b2cedf;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:3px;padding:0 10px;line-height:45px;height:45px;}
input[type="text"]:focus, select:focus, option:focus, textarea:focus {border-color:#4da8e0;}
input[type="text"][disabled], input[type="password"][disabled], textarea[disabled] {border-color:#cfd3d5;background:#f7f7f7;}
.select input[type="text"][disabled] {border-color:#b2cedf;background:#fff;}

h1 {font:300 21px/25px "Open Sans", Arial, sans-serif;color:#000;margin:0 0 30px 0px;padding:16px 0 16px;border-bottom:3px solid #dfe8ed;}
h2 {font:300 18px/22px "Open Sans", Arial, sans-serif;color:#000;margin:0 0 30px 0px;padding:0;}
h3 {font:bold 16px/16px "Open Sans", Arial, sans-serif;color:#000;margin:0 0 15px 0;padding:0;}
h4 {font:bold 14px "Open Sans", Arial, sans-serif;color:#000;margin:0 0 0px 0;padding:0;}

ul {padding:0 0 0 20px;margin:0 0 15px;}
ul li {list-style:none;background:url('../_pic/li.png') no-repeat 0 7px;padding:0 0 0 17px;margin:0 0 5px 0;}

blockquote {}

.ul-correct ul {overflow:hidden;}

#body {position:relative;min-height:100%;height:auto !important;height:100%;margin:0 auto;}
#holder {height:0px;clear:both;}
#footer {padding:35px 0;font-size:14px;color:#666;text-align:center;background:#fafafa;font-weight:normal;}

.fixed {padding:0 20px;margin:0 auto;position:relative;}

.center {text-align:center;}

.clear {clear:both;}

a.js {text-decoration:none;border-bottom:1px dashed #fff;}
a.js:hover {text-decoration:none;border-bottom:none;}

.outer {display:table;vertical-align: middle;}
.inner, .middle {display: table-cell;vertical-align: middle;}
* html .outer {overflow: hidden;position: relative;}
* html .middle {position: absolute;top: 50%;width: 100%;}
* html .inner {position: relative;top: -50%;}
*:first-child+html .outer {overflow: hidden;position: relative;}
*:first-child+html .middle {position: absolute;top: 50%;width: 100%;}
*:first-child+html .inner {position: relative;top: -50%;}

.upper {text-transform:uppercase;}

.big {font-size:21px;}

.mrg-20 {margin-bottom:20px;}

.img-right {float:right;margin:0 0 10px 20px;}
.img-left {float:left;margin:0 20px 10px 0;}

.maxfix {max-width:400px;}

.btn {position:relative;padding:10px 20px;line-height:25px;height:45px;font-weight:normal;text-transform:uppercase;font-size:11px;text-align:center;-moz-box-sizing:border-box;box-sizing:border-box;}

.btn-default, .btn-default:focus {border:none;cursor:pointer;box-shadow:inset 0 1px 0px #b5e6a2;border-radius:3px;border:1px solid #39b245;margin:0;color:#fff;text-shadow:0 1px 1px #3fa23f;
	background: #60c053;
    background: -moz-linear-gradient(top, #85ca5d 0%, #39b245 100%);
    background: -webkit-linear-gradient(top, #85ca5d 0%,#39b245 100%);
    background: -o-linear-gradient(top, #85ca5d 0%,#39b245 100%);
    background: -ms-linear-gradient(top, #85ca5d 0%,#39b245 100%);
    background: linear-gradient(top, #85ca5d 0%,#39b245 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#85ca5d', EndColorStr='#39b245')"; /* IE8 */
}
.btn-default:hover {border:1px solid #39b245;color:#fff;
    background: #61cd53;
    background: -moz-linear-gradient(top, #8ad65e 0%, #37bc44 100%);
    background: -webkit-linear-gradient(top, #8ad65e 0%,#37bc44 100%);
    background: -o-linear-gradient(top, #8ad65e 0%,#37bc44 100%);
    background: -ms-linear-gradient(top, #8ad65e 0%,#37bc44 100%);
    background: linear-gradient(top, #8ad65e 0%,#37bc44 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8ad65e', EndColorStr='#37bc44')"; /* IE8 */
}
.btn-grey, .btn-grey:focus {background: #f0f0f0;color:#333;}
.btn-grey:hover {background: #f4f4f4;}

.btn-small {clear:both;margin:0 0 5px;padding:5px 5px;height:26px;line-height:12px;}

a.btn-delete:before {display:inline-block;content:"";width:12px;height:8px;background:url('../_img/icons.png') no-repeat -178px 0;}
input.btn-delete {background:#f0f0f0;}

.btn-group .btn {margin-right:10px;border-radius:3px !important;}

.nav.nav-tabs, .nav.nav-tabs li {padding:0;margin:0;} 
.nav.nav-tabs {border-bottom:3px solid #dfe8ed;margin:0 0 20px;} 
.nav.nav-tabs li a {border:none !important;font-weight:bold;font-size:12px;text-transform:uppercase;} 
.nav.nav-tabs li a:hover {background:#f8fbfc;} 
.nav.nav-tabs li.active a {background:#dfe8ed;} 

.nav.auth-tab {margin:-30px -20px 20px;border-bottom:none;}
.nav.auth-tab li {width:50%;border:none;border-bottom:1px solid #e6e6e6;}
.nav.auth-tab li a {display:block;text-align:center;background:#fafafa;border:none;margin:0;padding:20px 0;font-size:14px;}
.nav.auth-tab li a:hover {background:#fbfbfb;}
.nav.auth-tab li.active {background:#fff;border-bottom-color:#fff;}
.nav.auth-tab li:first-child {border-right:1px solid #e6e6e6;}
.nav.auth-tab li.active a {display:block;text-align:center;background:#fff;}

.tab-content {}

.table td {font-size:12px;}

.alert.alert-info {background:#f1f9fa;border:none;font-size:13px;}

.pagination {border-top:3px solid #dfe8ed;display:block;border-radius:0;}
.pagination, .pagination li {padding:0;margin:0;}
.pagination li {display:inline-block;vertical-align:top;}
.pagination li a, .pagination > li:last-child > a {border:none;border-radius:0 0 3px 3px;color:#2e89c1;font-weight:bold;font-size:12px;}
.pagination li a.prev, .pagination .next {padding:10px 12px;}
.pagination li a.prev:after, .pagination .next:after {display:block;content:"";width:5px;height:9px;background:url('../_img/nav.png') no-repeat -5px 0;}
.pagination li a.prev:after {background-position:0 -9px;}
.pagination li a.prev.def:after {background-position:0 0;}
.pagination li a.next.def:after {background-position:-5px -9px;}
.pagination li a.active {background:#dfe8ed;color:#000;}
.pagination li a:hover {background:#f2f6f8;}

label.small {font-size:12px;font-weight:300;}
label.small input {margin:0 5px 0 0;}

div.select {position:relative;margin:0 0 10px;}
div.select input {width:100%;position:relative;}
div.select select {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);height:45px;line-height:45px;left:0;opacity:0;position:absolute;top:0;width:100%;z-index:2;}
div.select select option {background:none;border:none;}
div.select:after {display:block;content:" ";top:20px;right:10px;position:absolute;z-index:1;width:0;height:0;border-style:solid;border-width:4px 4px 0 4px;border-color:#000 transparent transparent transparent;}
div.select:hover input {}

.header-admin {background:#35434d;padding:10px 150px 0 0;margin:0 0 20px;min-height:58px;position:relative;z-index:100;
	background: -moz-linear-gradient(top, #35444e 0%, #2a363d 100%);
    background: -webkit-linear-gradient(top, #35444e 0%,#2a363d 100%);
    background: -o-linear-gradient(top, #35444e 0%,#2a363d 100%);
    background: -ms-linear-gradient(top, #35444e 0%,#2a363d 100%);
    background: linear-gradient(top, #35444e 0%,#2a363d 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#35444e', EndColorStr='#2a363d')"; /* IE8 */
}
.header-admin:after {display:block;content:"";clear:both;}
.header-admin .logo {display:block;background:url('../_img/logo-fon.png') no-repeat 0 10px;float:left;padding:5px 15px 0 0;}

.menu-tab {float:left;}
.menu-tab a {display:block;float:left;margin:0 1px 0 0;padding:15px 20px;font-size:13px;font-weight:bold;text-transform:uppercase;color:#b2cedf;border-radius:3px 3px 0 0;
	background:#4e5a63;
    background: -moz-linear-gradient(top, #536068 0%, #3e484e 100%);
    background: -webkit-linear-gradient(top, #536068 0%,#3e484e 100%);
    background: -o-linear-gradient(top, #536068 0%,#3e484e 100%);
    background: -ms-linear-gradient(top, #536068 0%,#3e484e 100%);
    background: linear-gradient(top, #536068 0%,#3e484e 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#536068', EndColorStr='#3e484e')"; /* IE8 */
}
.menu-tab a:hover {text-decoration:none;
	background:#596772;
    background: -moz-linear-gradient(top, #5b6b74 0%, #46535b 100%);
    background: -webkit-linear-gradient(top, #5b6b74 0%,#46535b 100%);
    background: -o-linear-gradient(top, #5b6b74 0%,#46535b 100%);
    background: -ms-linear-gradient(top, #5b6b74 0%,#46535b 100%);
    background: linear-gradient(top, #5b6b74 0%,#46535b 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5b6b74', EndColorStr='#46535b')"; /* IE8 */
}
.menu-tab a.act {cursor:default;color:#000;
	background:#fff;
    background: -moz-linear-gradient(top, #d1dfe7 0%, #ffffff 50%);
    background: -webkit-linear-gradient(top, #d1dfe7 0%,#ffffff 50%);
    background: -o-linear-gradient(top, #d1dfe7 0%,#ffffff 50%);
    background: -ms-linear-gradient(top, #d1dfe7 0%,#ffffff 50%);
    background: linear-gradient(top, #d1dfe7 0%,#ffffff 50%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d1dfe7', EndColorStr='#ffffff')"; /* IE8 */
}

.menu-header-profile {position:absolute;height:50px;right:-130px;top:5px;}
.menu-header-profile .name {background:#252f36;border-radius:20px;padding:5px 35px 5px 10px;color:#cfe2ed;font-size:13px;line-height:20px;}
.menu-header-profile .opener {background:#39b549;border-radius:100px;width:30px;height:30px;position:absolute;top:0;right:0;}
.menu-header-profile .opener:before, .menu-header-profile .opener:after {display:block;content:"";margin:-3px 0 0 -6px;position:absolute;top:50%;left:50%;width:0;height:0;border-style:solid;border-width:6px 6px 0 6px;border-color:#f7f5bb transparent transparent transparent;}
.menu-header-profile .opener:after {border-color:#39b549 transparent transparent transparent;margin-top:-6px;}
.menu-header-profile .submenu {display:none;position:absolute;top:50px;right:0;width:150px;background:#252f36;border-radius:5px;}
.menu-header-profile .submenu a {color:#61acda;font-size:13px;display:block;border-top:1px solid #3b444a;padding:10px 15px;}
.menu-header-profile .submenu a:first-child {border:none;}
.menu-header-profile .submenu a:hover {color:#c5dce9;}
.menu-header-profile .submenu:after {display:block;content:"";position:absolute;top:-5px;right:10px;width:0;height:0;border-style:solid;border-width:0 5px 5px 5px;border-color:transparent transparent #252f36 transparent;}
.menu-header-profile:hover .submenu {display:block;}

.row-content {display:table;width:100%;}
.row-content .col {display:table-cell;padding:0 20px 0 0;vertical-align:top;}
.row-content .col:first-child {padding-left:20px;}
.row-content .col-left {width:270px;}
.row-content .col-right {width:290px;}

.search {background:#f0eee8;padding:15px 10px;border-radius:5px 5px 0 0;border-bottom:1px solid #ddd8ce;box-shadow:0 1px 0 #fff;margin:0 0 1px;}
.search .text {background:#fff;border-radius:50px;border:none;height:30px;line-height:30px;display:block;margin:0 10px 0 0;float:left;width:170px;}
.search .sbm {background:#39b549;border:none;width:30px;height:30px;line-height:20px;border-radius:30px;cursor:pointer;margin:0;position:relative;display:block;padding:0;color:#fff;font-weight:600;font-size:20px;}

.merchant-list {background:#fbfaf7;padding:10px;}
.merchant-list ul, .merchant-list li {margin:0;padding:0;}
.merchant-list .item {border-bottom:1px solid #ddd8ce;box-shadow:0 1px 0 #fff;}
.merchant-list .merchant-name {display:block;padding:8px 10px;font-weight:normal;}
.merchant-list .merchant-link {display:none;padding:2px 10px;margin:0 0 3px;font-size:10px;text-transform:uppercase;}
.merchant-list .merchant-link.act {background:#2e89c1;color:#fff;}
.merchant-list .add {float:right;display:block;width:30px;height:36px;position:relative;}
.merchant-list .add:before, .merchant-list .add:after {display:block;content:"";position:absolute;top:50%;left:50%;width:9px;height:3px;background:#39b549;margin:-1.5px 0 0 -4.5px;}
.merchant-list .add:after {width:3px;height:9px;margin:-4.5px 0 0 -1.5px;}
.merchant-list .add:hover:after, .merchant-list .add:hover:before {background:#aaff2f;}
.merchant-list .remove {float:right;display:block;width:30px;height:20px;position:relative;background:url('../_img/icons.png') no-repeat -168px 8px;opacity:0.7;}
.merchant-list .remove:hover {opacity:1;}
.merchant-list .shops {display:none;}
.merchant-list .item.act {background:#fff;}
.merchant-list .item.act .merchant-name {color:#000;}
.merchant-list .item.act .merchant-link {display:block;}
.merchant-list .item.act .shops {display:block;border-top:1px solid #dfe8ed;}
.merchant-list .it .options {display:none;}
.merchant-list .it .shop-name {position:relative;padding:5px 0 5px 10px;display:block;font-weight:300;}
.merchant-list .it .shop-name:before {display:inline-block;content:"";width:15px;height:14px;background:url('../_img/icons.png') no-repeat -177px -35px;}
.merchant-list .it.act .options {display:block;}
.merchant-list .it.act .shop-name {color:#000;}
.merchant-list .it.act .shop-name:before {background-position:-177px -52px;}
.merchant-list .it .options a {position:relative;display:block;font-size:13px;font-weight:300;position:relative;padding:0 0 3px 30px;}
.merchant-list .it .options a:before {display:inline-block;content:"";width:15px;height:21px;background:url('../_img/icons.png') no-repeat 0px -44px;position:absolute;top:-10px;left:12px;}
.merchant-list .it .options a:first-child:before {height:15;}
.merchant-list .it .options a.act {background:#2e89c1;color:#fff;}

.block-fields .block-title {color:#333;text-transform:uppercase;font-size:13px;font-weight:bold;margin:0 0 10px;}
.block-fields .name {color:#333;text-transform:uppercase;font-size:11px;line-height:15px;font-weight:300;margin:0 0 5px;}
.block-fields .value {color:#666;margin:0 0 20px;height:45px;}
.block-fields .require {color:#cc0000;}
.block-fields .table {display:table;margin-bottom:0;width:auto;}
.block-fields .col {display:table-cell;padding:0 20px 0px 0;vertical-align:top;width:270px;}
.block-fields .col:first-child {padding-left:0px;}
.block-fields .col-4 {width:120px;padding:0;}
.block-fields .col-6 {padding-right:0px;}
.block-fields .col-7 {width:370px;}
.block-fields .col-7 input {width:250px;}
.block-fields .col-5, .block-fields .col-6 {padding-bottom:0px;}
.block-fields .text {width:100%;margin:0 0 20px;}
.block-fields .select {margin:0 0 20px;}
.block-fields textarea {height:130px;width:100%;}
.block-fields .soc-icon {float:right;margin:20px 10px 0 0;}
.block-fields .check-icon {float:right;margin:33px 0 0 0;}
.block-fields .currency *{vertical-align:middle;line-height:13px;font-size:13px;}
.block-fields .currency label {vertical-align:top;font-weight:bold;padding:0 10px 0 0;}
.block-fields .currency span {color:#999;font-weight:normal;}
.block-fields .currency input:checked + span {color:#62af4e;}
.block-fields input.сaptcha {width:45%;margin:0 0 20px;}
.block-fields img.сaptcha {float:right;width:45%;height:43px;border-radius:3px;}
.block-fields .message {display:none;}
.block-fields .err input {border-color:red;background:#fae5e5;}
.block-fields .err {position:relative;}
.block-fields .err .message {display:block;border-radius:5px;background:red;padding:3px 10px;position:absolute;bottom:70px;left:50%;color:#fff;min-width:200px;text-align:center;
	-moz-transform:  translate(-50%,0); /* Для Firefox */
    -ms-transform:  translate(-50%,0); /* Для IE */
    -webkit-transform:  translate(-50%,0); /* Для Safari, Chrome, iOS */
    -o-transform:  translate(-50%,0); /* Для Opera */
    transform:  translate(-50%,0);
}
.block-fields .err .message:after {content:"";display:block;left:50%;bottom:0;position:absolute;margin:0 0 -4px -4px;width:0;height: 0;border-style: solid;border-width: 4px 4px 0 4px;border-color: #ff0000 transparent transparent transparent;}

.btn-group {padding:15px 0;}
.block-button {border-top:3px solid #dfe8ed;margin:20px 0;padding:10px 0 0;}

.soc-icon {display:block;border-radius:5px;background:#3b5998 url('../_img/icons-social.png') no-repeat 13px 14px;width:45px;height:45px;}
.soc-icon.gp {background:#dd4b39 url('../_img/icons-social.png') no-repeat 13px -55px;}
.soc-icon.tw {background:#00acee url('../_img/icons-social.png') no-repeat 13px -126px;}
.soc-icon.false {opacity:0.3;}

.check-icon {display:block;background:url('../_img/icons-check.png') no-repeat 0 0;width:40px;height:20px;}
.check-icon.false {background-position:0 -70px;}

.currency {color:#62af4d;}

.marker {height:2px;width:8px;background:#2e89c1;display:inline-block;}
.marker.up {width:0;height:0;border-style:solid;border-width:0 4px 4px 4px;border-color:transparent transparent #61c35c transparent;background:none;}
.marker.down {width:0;height:0;border-style:solid;border-width:4px 4px 0 4px;border-color:#dd6464 transparent transparent transparent;background:none;}

.list-pay-system .currency {font-size:11px;}
.list-pay-system .disabled td {background:#fafafa;color:#bebebe;}
.list-pay-system .disabled .currency {opacity:0.3;}

.currency-list {}
.currency-list .currencies {font-size:13px;font-weight:normal;}
.currency-list tbody > tr > td {vertical-align:middle;}
.currency-list td * {vertical-align:middle;}
.currency-list .date {font-weight:normal;}
.currency-list .time {font-size:11px;color:#666;}

.table th, .table table tr td {padding:10px 10px;border-bottom:1px solid #dfe8ed;}
.table tbody tr th {font-weight:bold;text-transform:uppercase;color:#46525a;font-size:11px;border:none;border-bottom:3px solid #dfe8ed;border-bottom:3px solid #dfe8ed;}

.users-list label {display:block;font-size:12px;font-weight:300;}
.users-list label input {margin:0 5px 0 0;}
.users-list .name {margin:0 0 5px;}

.filters {margin:0 0 20px;}
.filters table {width:100%;}
.filters .block-fields .text, .filters .block-fields .select {margin-bottom:10px;}
.filters .with-button input[type="submit"] {width:45%;}
.filters .with-button .select {width:50%;float:left;margin:0 5% 10px 0;}

.site-add table {width:100%;}
.site-add td {vertical-align:top;}
.site-add .pad {padding-left:50px;padding-right:50px;width:150px;}
.site-add .cap {border:1px dashed #d4d6d9;padding:30px 30px 30px 100px;text-transform:uppercase;width:180px;background:#fafafa url('../_img/cap.png') no-repeat 25px 22px;font-size:12px;}
.site-add .small {margin:20px 0 0;}

.auth {position:absolute;top:50px;left:0;right:0;bottom:0;background:#fafafa;}
.auth .auth-content {position:absolute;top:50%;left:50%;width:370px;overflow:hidden;background:#fff;border:2px solid #e4e9eb;padding:30px 20px;border-radius:7px;
	-moz-transform:  translate(-50%,-50%); /* Для Firefox */
    -ms-transform:  translate(-50%,-50%); /* Для IE */
    -webkit-transform:  translate(-50%,-50%); /* Для Safari, Chrome, iOS */
    -o-transform:  translate(-50%,-50%); /* Для Opera */
    transform:  translate(-50%,-50%);
}
.auth .text, .auth .сaptcha {border-color:#e4e9eb;}
.auth .btn {display:block;width:100%;}
.auth .center {padding:15px 0 0;font-size:13px;}
.auth h2 {text-align:center;font-size:14px;font-weight:bold;color:#666;text-transform:uppercase;}

@media only screen and (max-width: 1200px) {
	.menu-tab a {padding:15px 15px;}
}
@media only screen and (max-width: 1024px) {
	.menu-tab a {padding:15px 10px;}
	.site-add .pad {padding-left:10px;padding-right:10px;width:auto;}
}
